@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

header {
  padding: var.$gutter-base*1.5 0 var.$gutter-base/2;
  @extend %d-flex;
  @extend %justify-between;
  border-bottom: 2px solid black;
  margin-bottom: var.$gutter-base;

  .buttons-container {
    @extend %text-right;

    & > *:not(:last-child) {
      margin-right: 10px;
    }
  }
}